# backup files
*~

# vim history files
.netrwhist
.vimrc.swp

# ignore vim-colorscheme-manager files
vim/.colorscheme
vim/.gcolorscheme

# ignore all files and dirs in the vim/bundle directory
# except the README.md file.
vim/bundle/**
