# backup files
*~

# log files
install.log

# vim history files
.netrwhist
.vimrc.swp

# ignore vim-colorscheme-manager files
home/.vim/.colorscheme
home/.vim/.gcolorscheme

# ignore all files and dirs in the vim/plugged directory
home/.vim/plugged/**

# ignore spelling files
home/.vim/spell
